.body {
    background-color: #f3f6fd;
    width: 100%;
    display: flex;
}

.containerOne {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subContainer {
    overflow-y: scroll;
    height: 85vh;
    padding-left: 15px ;
}